[Desktop Entry]
Type=Application
Name=Terminal here
Comment=Open a folder in the person's terminal
Exec=hotline-computer open %f
NoDisplay=true
MimeType=inode/directory;
